<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="error">
    <Appenders>
        <Console name="console">
            <PatternLayout pattern="%5p [%c] %m%n" />
        </Console>
    </Appenders>
    
    <Loggers>
        <Logger name="jdbc.sqltiming" level="debug" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="egovframework" level="debug" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Root level="error">
            <AppenderRef ref="console" />
        </Root>         
    </Loggers>
</Configuration>